* {
  box-sizing: border-box;
}
body {
  margin:0;
  background-image: url('images/forest.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
}
img {
  width: 100%;
}
header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 400px;
  background-image: url('images/forest.jpg');
  background-size: cover;
}
header h1 {
  margin: 0;
  padding: 40px;
  color: lightgreen;
}
.home-page h2 {
  width: 80%;
  margin: 80px auto 20px auto;
}
nav {
  position: fixed;
  width: 100vw;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
nav li {
  text-align: center;
  width: 100%;
  background-color: rgba(237, 175, 186, 0.6);
  padding: 16px;
}
nav a {
  color: rgb(126, 78, 87);
}
nav li:hover {
  background-color: rgba(185, 237, 175, 0.6);
}
.parent {
  display: flex;
  width: 80%;
  margin: auto;
}
.parent div {
  flex: 1;
}
.parent .right {
  padding-left: 40px;
}
.parent .left {
  padding-right: 40px;
}
.two-col-content {
  display: flex;
}
.two-col-content div {
  flex: 1;
}
.two-col-content img {
  padding: 10px;
}
footer {
  background: #333;
  padding: 90px 0;
}
footer div {
  width: 80%;
  margin: auto;
  color: white;
}
/* background image on header homepage
Photo by Jaymantri: https://www.pexels.com/photo/nature-forest-trees-fog-4827/
   */