/* 
Working from Alanna's code on Sprucing Up assignment + Responsive Page

font-family: 'Playfair Display', serif;
font-family: 'Source Sans 3', sans-serif;
 */

 /* COLORS
HEX
--gunmetal: #26333Aff;
--ash-gray: #C1C5ACff;
--hookers-green: #61766Aff;
--rose-ebony: #584145ff;
--snow: #FEF7F5ff;

RGB
gunmetal: rgba(38, 51, 58, 1);
ash-gray: rgba(193, 197, 172, 1);
hookers-green: rgba(97, 118, 106, 1);
rose-ebony: rgba(88, 65, 69, 1);
snow: rgba(254, 247, 245, 1);
*/

* {
    box-sizing:border-box;
  }
  img {
    width:100%;
    
  }
  body {
    margin:0;
    background-image: url('images/forest.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    
  }
  /* Photo by Jaymantri: https://www.pexels.com/photo/nature-forest-trees-fog-4827/ */
 
  .content {
    padding:60px;
    width:80%;
    min-height:80vh;
    margin: 80px auto;
    background-color: rgba(193, 197, 172, 1);
    border-radius: 20px;
  }
  a {
    color: #584145ff;
  }
  a:hover {
    color: rgba(193, 197, 172, 1);
  }

  h1 {
    color:#26333Aff;
    font-size: 60px;
  }
  
  h1, h3 {
    margin-top:0;
    font-family: 'Playfair Display', serif;
    color: 26333Aff;
}

h2 {
    color: 61766Aff;
    margin-top:0;
    font-family: 'Playfair Display', serif;
}
  ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #584145ff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  
  .cards {
    display:flex;
  }
  .card {
    flex:33.3%;
    background-color:rgba(38, 51, 58, 25%);
    font-family: 'Source Sans 3', sans-serif;
    margin-right:20px;
    padding:16px;
    border-radius: 20px;
  }
  .card:last-child {
    margin-right:0;
  }
  
  .card img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .button {
    display: inline-block;
    background-color: #26333Aff; 
    color: rgba(254, 247, 245, 1);
    text-decoration:none;
    padding: 8px 12px;
  }
  .button:hover {
    background-color: #61766Aff;
  }
  .resources {
    margin-top:80px;
    display:flex;
  }
  .resources div {
    flex:1;
    background-color:rgba(254, 247, 245, 1);;
    border-radius:20px;
    padding:20px;
    margin-right:20px;
  }
  .resources div:last-child {
    margin-right:0;
  }