* {
  box-sizing: border-box;
}
img {
  width:100%;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* need to add typography palette */
/* need to add color palette */
/* need to add page specific palettes */


nav, footer {
  background-color: #5E6D33; /* Green background color */
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;

}

nav img {
  width: auto; /* Adjust the height of your logo */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.button-solid {
  display: inline-block;
  background-color: orange;
  color: white;
  padding: 8px 16px;
  border-radius: 5px; 
  text-decoration: none;
}

.button-outline {
  border: 1px solid orange;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  color: orange;

}

.button-outline:hover{
  background-color: orange;
  color: white;
}

header {
  text-align: center;
  padding: 50px;
  background-image: url(http://placekitten.com/1440/500);
  background-size:cover;
  background-repeat: no-repeat;
  height:500px;
  display: flex;
  align-items: center;
  color: white;
}

.hero-tall{
  height:700px;
  text-align: left;

}

.hero-tall div{
  width: 40%; 
}

.hero-short{
  height:500px;
  text-align: center;
  justify-content: center;

}

.hero-short div{
 text-align: center;
}

.hero-about{
  background-image: url("images/perryhill-01.jpg");

}

.hero-newletters{
  background-image: url("images/peaches-02.jpg");

}

.hero-produce{
  background-image: url("images/field-01.jpg");

}

.hero-faq{
  background-image: url("images/apples-01.jpg");

}

.hero-index{
  background-image: url("images/perryhill2.jpg");

}

section {
  text-align: center;
  padding: 50px;
}

.two-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.two-column div {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.two-column-color {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #DEA56E;
}

.two-column-color div {
  flex: 1;
  padding: 20px;
  text-align: left;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: white;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 10px;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header, section, .two-column {
    padding: 20px;
  }
}

section ul{
  margin-top: 10px;
}

section li {
  margin-right: 0;
  margin-bottom: 10px;
}